<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rabbitstudio.watchface.dots">

    <uses-sdk android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <uses-permission
        android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


</manifest>
